###> QUALITY ASSURANCE - STATIC ANALYZERS ###
/build
###< QUALITY ASSURANCE - STATIC ANALYZERS ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###
